nav {
    background-color: #865cf9;
    color: white;
    padding: 10px;
    padding-left: 60px;
    margin-bottom: auto;
  
}

h1 {
    color: white;
    font-size: 34px;
    
}
h2 {
    font-size: 28px;
    color: black;
    margin-left: 55px;
    margin-top: -40px;
}


p{
    font-size: 20px;
    margin-left: 55px;
    margin-top: -20px;

}

#navi {
    height: 20px;
    width: 20px;
 
}

.div1 {
    background-color: #f8c621;
    height: 200px;
    width: 100%;
    padding-top: 70px;
    margin-top: -30px;
}

body {
    margin: 0;
    
}

.div2 {
    background-color: #f3731e;
    height: 200px;
    width: 100%;
    padding-top: 70px;
    margin-top: auto;
}

.div3 {
    background-color: #06a31bdc;
    height: 200px;
    width: 100%;
    padding-top: 70px;
    margin-top: auto;
}
#divred {
        height: 20px;
    width: 20px;
}



@media screen and (max-width: 576px) {
  .div1{
    background-color: rgb(53, 238, 238);
    height: 150px;
  }
    .div2{
        background-color: magenta;
        height: 150px;
    }
    .div3{
        background-color: rgb(38, 5, 120);
        height: 150px;
    }
    h2 {
        color: white;
        text-align: center;
    }
    p {
        color: white;
        text-align: center;
    }
    #divred {

    background-color: whitesmoke;
    margin-left: 430px;
   margin-top: 35px;
}
}   
@media screen and (min-width: 577px) and (max-width: 768px) {
    
    nav {
        background-color: rgb(242, 59, 105);
    }
    .div1{
      background-color: rgb(101, 74, 251);
      height: 170px;
    }
      .div2{
          background-color: rgb(120, 5, 238);
          height: 170px;
      }
      .div3{
          background-color: rgb(91, 3, 254);
          height: 170px;
      }
      h2 {
          color: white;
         
      }
      p {
          color: white;
        
      }
  }
    
}