/* 1. Import the custom font */
@font-face {
  font-family: 'ftltlt';
  src: url('ftltlt.woff2') format('woff2'),
       url('ftltlt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'ftltlt', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
}


h2, .section-title {
  font-size: 56px;
  color: #9000ff;
  font-weight: bold;
}


p {
  font size: 28px;
  color : #0d0303;
}



p:first-of-type {
  font-weight: bold;
}

a {
  color: #9000ff;
  text-decoration: none;
}

img {
  height: 400px;
  width: 400px;
  border-radius: 10px;
}
a:hover {
  background-color: yellow;
  font-size: 18px;
}